<div class="body1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cuprum" />
    <div class="pink">
        <h2>The <span>Latest</span> Videos</h2>
        
        <hr />
        <div class="right">
            <h3 class="white">Royals reunite at Remembrance Event without Prince Harry</h3>
            <br />
            <p class="white">The Queen denies Prince Harry and Meghan Markle’s request  from attending the Remembrance</p>
            <br />
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zugBZKK2vZQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
        
        <hr />
        <h3 class="white">"Emily In Paris" Officially Returning for Season 2</h3>
        <br />
        <p class="white">Netflix approve the nest season of "Emily In Paris". The returning season 2 date has not been announce yet.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2xXXamSADNc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br />
        <br />
        <br />
        <br />
    </div>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aSDTrxw7FnA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Biden is the next president! Welcome President-Elect Biden!!</h3>
    <p>We are happy to announce our next president: President Biden. Biden defeated Trump in the '20 election.</p>
    
    <hr />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1VO2_KG6g-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <h3>Taylor's new song "Only The Young" used in Political Ad</h3>
    <p>Taylor Swift has endorsed Joe Biden for president. It was not suprising that she allow her song for free to be the music for this political ad.</p>
    <br />
    <p>Want to check out more political news? Click <a href="https://www.politico.com/politics">here</a> to view more.</p>
    
    <hr />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Wq5S8Dt_HQE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <h3>BTS is back with a new Album</h3>
    <p>The legendary BTS is back with a new album to be released on Nov.20. Army, BTS's fandom, are excited to support the boys and can't wait</p>
    
    <hr />
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0oC3D2pdMKs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br />
    <h3>CMA Awards 2020: Winners</h3>
    <p>Check out the CMA Winner of each category. Maren Morris payed tribute to Black Women in acceptance speech.</p>
</div>