<h2>The Latest Videos</h2>

<hr />

<h4>Royals reunite at Remembrance Event without Prince Harry</h4>
<p>The Queen denies Prince Harry and Meghan Markle’s request  from attending the Remembrance</p>

<hr />

<h4>"Emily In Paris" Officially Returning for Season 2</h4>
<p>Netflix approve the nest season of "Emily In Paris". The returning season 2 date has not been announce yet.</p>

<hr />

<h4>Biden is the next president! Welcome President-Elect Biden!!</h4>
<p>We are happy to announce our next president: President Biden. Biden defeated Trump in the '20 election.</p>

<hr />

<h4>Taylor's new song "Only The Young" used in Political Ad</h4>
<p>Taylor Swift has endorsed Joe Biden for president. It was not suprising that she allow her song for free to be the music for this political ad.</p>

<p>Want to check out more political news? Click <a href="https://www.politico.com/politics">here</a> to view more.</p>

<hr />

<h4>CMA Awards 2020: Winners</h4>
<p>Check out the CMA Winner of each category. Maren Morris payed tribute to Black Women in acceptance speech.</p>