span{
    color: blue;
}

h2{
    font-style: italic;
}

// .body1{
//     padding: 20px 20px 20px 20px;
// }

.white1{
    color: white;
}

h2{
    font-family: Cuprum;
}

p, h3{
    font-family: Cuprum;
    text-align: right;
}

.right {
  position: absolute;
  right: 0px;
  width: 150px;
  padding: 10px;
}

.pink{
    background-color: #ea9999;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.rose{
    background-color: #f4cccc;
}

iframe{
    padding-top: 2.2em;
}